{% extends "base.html" %}
{% block title %}
	Eviglass
{% endblock title %}

{% block content %}
<div class="col-md-12 body-bg">

<!--/.sub-nav- navbar -->
<div class="navbar navbar-sub navbar-fixed">
	<div class="subnav">
	    <div class="container">
	        <div class="navbar-header">
	        
	        	<h2 style="font-weight: 900;">OFERTAS</h2>

	        </div>
	        <div class="collapse navbar-collapse" style="Semibold:30px;">
		        <ul class="nav navbar-nav pull-right">

		        	<li><a href="/Portal/">Inicio</a></li>
		        	<li><a href="/ofertas/">/ Ofertas</a></li>

		        </ul>
	        </div><!--/.nav-collapse --> 
	    </div>
	</div>
</div>
<!--/.END sub-nav - navbar --> 


<!--/.BODY -->

<div class='aling-body'>
	
	<section id="color-section" class="degradado-section">

		<div style="text-align: rigth;">
			<h2 class=""> TIPOS DE PRODUCTOS</h2>  
		</div>


	</section >

	<!-- SECCION PAPA MOSTRA JARRAS -->
	<section id="recent-works" class="degradado-cabeza">

			<div style="text-align: center;">
				<h2 class=""> M O D E L O S </h2>  
			</div>
		
		<hr class="prettyline">


	</section >
	<section id="color-section-galery">

		<div class="row">
			{% for lista_prod in producto %}
			<div class="col-sm-6 col-md-3">
				<div class="thumbnail style-margin" id="border-thumbnail">
					 
					<img src="{{MEDIA_URL}}{{lista_prod.imagen}}" alt="">
					<div class="caption">
						<h3 style = "color:#0A6BFD;">{{lista_prod.nombre}}</h3>
						<div style = "color:#003965;">
							TIPO: {{lista_prod.tipo}}<br>
							DETALLE: {{lista_prod.detalle}}<br>
							CODIGO: {{lista_prod.codigo}}<br>
							PRECIO-FÁBRICA: {{lista_prod.precio}}
						</div>
						
					</div>
					
				</div>
			</div>
			{% endfor %}
		</div>
		<br>

	</section >
<!--END SECCION PAPA MOSTRA JARRAS -->

<!-- SECTION FOOTER BODY-->	
	<section id="recent-works" class="contact-bg">
		<div style="text-align: center;">
			<h3 class="">Contáctanos</h3>
			<h4>email: eviglass@gmail.com</h4>
			<h4>telfs: 44546345 - 74553445</h4>
		</div>
	</section>
	<!--END SECTION FOOTER BODY-->

</div>

<!--/.END BODY -->
	
</div>
{% endblock content %}