{% extends "base.html" %}
{% block title %}
	Eviglass
{% endblock title %}

{% block content %}
<div class="col-md-12 body-bg">

<!--/.sub-nav- navbar -->
<div class="navbar navbar-sub navbar-fixed">
	<div class="subnav">
	    <div class="container">
	        <div class="navbar-header">
	        
	        	<h4 style="font-weight: 900;">QUINES SOMOS</h4>

	        </div>
	        <div class="collapse navbar-collapse" style="Semibold:30px;">
		        <ul class="nav navbar-nav pull-right">

		        	<li><a href="/Portal/">Inicio</a></li>
		        	<li><a href="/novedades/">/ Quienes Somos</a></li>

		        </ul>
	        </div><!--/.nav-collapse --> 
	    </div>
	</div>
</div>
<!--/.END sub-nav - navbar --> 


<!--/.BODY -->

<div class='aling-body'>
	
	<section id="color-section" class="degradado-section">

		<div style="text-align: rigth;">
			<h5 class=""> COMO EMPRESA</h5>  
		</div>


	</section >

	<!-- SECCION PAPA MOSTRA JARRAS -->



<!-- SECTION FOOTER BODY-->	
	<section id="recent-works" class="contact-bg">
		<div style="text-align: center;">
			<h4 class="">Contáctanos</h4>
			<h5>email: eviglass@gmail.com</h5>
			<h5>telfs: 44546345 - 74553445</h5>
		</div>
	</section>
	<!--END SECTION FOOTER BODY-->

</div>

<!--/.END BODY -->

	
</div>
{% endblock content %}'