


/*STYLE NAV BAR*/

.nav-1{
	background-color: #0B243B;
}
.nav-link-mio{

	display: block;

    padding-top: 0.2rem;
    padding-right: 1rem;
    padding-bottom: 0.2rem;
    padding-left: 1rem;
}
/*END STYLE NAV BAR*/




/*STYLE BODY*/

.body-1{
	background-color: #EFF8FB;
}
/*END STYLE BODY*/



/*STYLE FOOTER*/

.footer-1{
	background-color: #0B243B;

    padding-top: 1.0rem;
    padding-right: 1rem;
    padding-bottom: 1.0rem;
    padding-left: 1rem;
}

.footer-color-txt{
	color: yellow;
}

p {
	color: #A9D0F5
}

/*END STYLE FOOTER*/
