{% extends "base_users.html" %}

{% block title %}
  Sitio de Administracion
{% endblock title %}

{% block content %}

<div class='aling-body'>

	<section id="color-section">
		<center><h1 class="txt-body-title">Administracion del Personal</h1></center>
		<hr class="prettyline">

		<div>
			<a href="/users/personal/" class="btn btn-success btn-lg" role="button">Agregar Nuevo Personal</a>
		</div>
	</section>

<div>
	{# LISTA DE PROD EN TABLA #}
	<table class="table table-striped">
		<div style="text-align: center;">
			<h2 class="txt-body-subtitle">LISTA DEL PERSONAL</h2>  
		</div><br>
	    <thead class="txt-body-nomtable">
	        <tr>
	            <th>Nro.</th>
	            <th>Nombre</th>
	            {# <th>C.I.</th> #}
	            {# <th>E-mail</th> #}
	            <th>Direccion</th>
	            <th>Telefono</th>
	            {# <th>Cargo</th> #}
	            <th>Acciones</th>
	            

	        </tr>
	    </thead>
	    <tbody>
	    	{% for lista_pers in personal %}
	        <tr>
	            <td>{{forloop.counter}}</td>
	            <td>{{lista_pers.nombre}}</td>
	            {# <td><h4>{{lista_pers.ci}}</h4></td> #}
	            {# <td><h4>{{lista_pers.email}}</h4></td> #}
	            <td>{{lista_pers.direccion}}</td>
				<td>{{lista_pers.telefono}}</td>
				{# <td><h4>{{lista_pers.cargo}}</h4></td> #}

				<td><a class="btn btn-info" href="/edit/{{lista_pers.id}}">Editar</a>
					<a class="btn btn-danger" href="/delete/{{lista_pers.id}}">Eliminar</a>
				</td>

			{% endfor %}
	        </tr>
	        
	    </tbody>
	</table>
	{# LISTA DE PROD EN TABLA #}	
</div>

</div>
{% endblock content %}
<ol>
<li>...</li>
</ol>
