{% extends "base_users.html" %}

{% block title %}
  Registro
{% endblock title %}

{% block content %}

<div class='aling-body'>
	
	<h2>Registrar Nuevo Producto</h2>
	<hr class="prettyline">
		
	  <form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data">{% csrf_token %}
	  {{form.as_p}}
	  	
	  	

	    <div class="form-group">
			<div class="col-lg-offset-3 col-lg-6">
				<button type="submit" class="btn btn-lg btn-primary">Registrar</button>
		      	{# <input class="btn btn-lg btn-primary" type="submit" value="Registrar"> #}
		      	<a href="/users/list_personal/" class="btn btn-lg btn-default" role="button">Cancelar</a>
		    </div>
	    </div>

	  </form>
	
</div>
{% endblock content %}

