{% extends "base_users.html" %}

{% block title %}
  Registro
{% endblock title %}

{% block content %}

<div class="container">
	<section id="color-section-galery">
	
		<div style="text-align: center;">
			<h1 class="">Productos Nuevos</h1>  
		</div><br>

		<div class="row">
		 <form method="post">{% csrf_token %}
		 	{{form.as_p}}
		 	<p><button type="submit" class="btn btn-success">Guardar</button>
		 	<a href="/users/list_personal/" class="btn btn-primary" role="button">Cancelar</a></p>
		 </form>
		</div>
		<br>

	</section >	
	
	
</div>
{% endblock content %}


